@import url(fonts.css);

@font-face {
    font-family: Alice-Regular;
    src: url(../fonts/Alice-Regular.ttf);
}

@font-face {
    font-family: bikham;
    src: url(../fonts/bikham-cyr-script_[allfont.net].ttf);
}

$alice-reg-font: Alice-Regular;
$background-Color: rgb(65, 52, 43);
$white-text: rgb(255, 255, 255);

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;

};
